{% extends 'base.html'%}
{% load static %}

{% block content%}


  <div class="row">
  <br>
  </div>

<div class="container-fluid" style="padding-left: 300px;">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <!--<table>{{upload_form.as_table}}</table>-->
  <table class='w-50 table table-light' style="border-radius: 10px;">
  {% for field in form %}
  <tr>
      <th>{{field.label}}</th>
      <td>{{field}}</td>
  </tr>
  {%endfor%}
  </table>
  <button type="submit" class="btn btn-lg btn-warning">Submit</button>

  </form>
  </div>

{% endblock %}





<!--
<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 col-md-offset-2">
				<h2>Add Cars</h2>
				<div class="card">
					

			<div class="form-group" >

				<label for="exampleFormControlInput1">Car Name </label>
				<input type="text" name="car_name" class="form-control" placeholder="Enter Name" >
			</div>

			
			<div class="form-group" >
				<label for="exampleFormControlInput1"> No </label>
				<input type="text" name="car_no" class="form-control" placeholder=" Enter car no" >

			</div>


			<div class="form-group" >
				<label for="exampleFormControlInput1">Car Setting Capacity </label>
				<input type="text" name="car_set_capacity" class="form-control" placeholder="Enter Capacity">

			</div>


			<div class="form-group" >
				<label for="exampleFormControlInput1">Price </label>
				<input type="text" name="car_price" class="form-control" placeholder="Enter Price per km" >
			</div>

			<div class="form-group" >
				<label for="exampleFormControlInput1">Luggage Capacity </label>
				<input type="text" name="car_luggage_cap" class="form-control" placeholder="Enter luggage capacity" >
			</div>

			<div class="form-group" >
				<label for="exampleFormControlInput1">Choose Image</label>
			<input id="image" type="file" accept=".jpg,.jpeg,.png"  name="image" autofocus>
			</div>

			<button type="submit" class="btn btn-success btn-md" name="submit" value="Add Car" text-align="center" style="width: 30%;">Add Car</button>
		</div>
		</div>
	</div>
	</form>
	-->




